@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-dark;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: rgb(208, 208, 208) !important;
  }
}

@layer components {
  .padding-custom {
    @apply px-3 py-3;
  }

  .padding-custom-x {
    @apply px-3;
  }

  .padding-custom-y {
    @apply py-3;
  }

  .icon-solid {
    @apply w-7 text-light;
  }
}
